.navbar {
    background-color: #171C26;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.navbar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 75px;
    border-radius: 20px;
}
.navbar > div:hover {
    font-size: 25px;
    transition-duration: 0.3s;
}
.navbar > div > a:hover {
    color: #F2BA52;

}
.navbar > div > a {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 50px;
    color: #F2BA52;
}


@media only screen and (max-width: 500px){
  
    /*Parte: Navbar*/
    .navbar {
        height: 150px;
        background-color: #171C26;
    }
    .navbar > div {
        width: 120px;
        height: 50px;
    }
    .navbar > div >  a {
        font-size: 15px;
  
    }
    .navbar > div:hover {
        background-color: #f0af36;
        transition-duration: 1s;
        color: white;
    }
}