.cards {
    background-color: white;
    width: 360px;
    height: 450px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
}
.imgCard {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 8px  solid #F2BA52;
}
.imgCard >  img {
    height: 200px;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid #F2BA52;
}
.textCard {
    text-align: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}
.textCard > h1 {
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: #F2BA52;

}
a:hover {
    color: #171C26;
    font-size: 18px;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 500px){
    /*Parte: Projetos */
    .title_curiosidades {
        font-size: 40px;
    }
    .cards {
        height: 380px !important;
        max-width: 400px;
    }
    .imgCard > img{
        height: 130px;
    }
    .textCard > p {
        font-size: 15px !important;
        
    }

  }